@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  width: 150px;
  text-align: center;
}

select {
  margin-bottom: 8px;
  outline: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  cursor: copy;
  width: 33.3%;
}

td:hover {
  background: #eef1f5;
}
